html, body {
  margin: 0;
  height: 100%;
}




.relative {
  position: relative;
}

.full-height {
		height: 100%;
}

.location-widget {
	height: 480px;
}

/**
* map styles
*/

#map {
  width: 100%;
  height: 100%;
	min-height: 480px;
}

.location-map {
	min-width: 480px;
}

/*
* list holder styles
*/
#listHolder {
	min-height: 480px;
}

.grey-background-color {
	background-color: #fafafb;
}

.location-description {
	font-style: italic;
}
/**
* contact section
*/
.location-contact-icon {
  font-size: 2.3rem;
}

.location-contact-name {
	display: block;
	font-weight: bold;
}

.location-contact-link {
	font-size: 1.5rem;
}

.location-contact-link small {
	font-size: .85rem;
	text-transform: capitalize;
}

.location-contact-link:nth-of-type(even) {
	padding-left:8px;
	padding-right: 8px;

}
/**
* loading indicator
*/

.loading.box {
	position: absolute;
	top: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
	display: flex;
}

.loading .text {
	text-align: center;
  position: relative;
  width: 100%;
  flex: 1;
  top: 65%;
}

.loading .heart {
		position: relative;
			width: 32px;
			height: 32px;
			background-color: #f00;
			transform: rotate(45deg);
			top: 50%;
			margin: -16px 0 0 -16px;
			left: 50%;
			animation: feel 1s linear infinite;
		}

		.heart:before{
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			background-color: #f00;
			top: -50%;
			left: 0;
			border-top-left-radius: 50px;
			border-top-right-radius: 50px;
		}
		.heart:after{
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			background-color: #f00;
			top: 0%;
			right: 50%;
			border-top-left-radius: 50px;
			border-bottom-left-radius: 50px;;
		}

		@keyframes feel{
			0%{transform: scale(1) rotate(45deg) translate(10px, 10px);}
			20%{transform: scale(1.2) rotate(45deg) translate(10px, 10px);}
			30%{transform: scale(1) rotate(45deg) translate(10px, 10px);}
			40%{transform: scale(1.2) rotate(45deg) translate(10px, 10px);}
			40%{transform: scale(1) rotate(45deg) translate(10px, 10px);}
			60%{transform: scale(1.2) rotate(45deg) translate(10px, 10px);}
			60%{transform: scale(1) rotate(45deg) translate(10px, 10px);}
			70%{transform: scale(1.2) rotate(45deg) translate(10px, 10px);}
			80%{transform: scale(1) rotate(45deg) translate(10px, 10px);}
			90%{transform: scale(1.2) rotate(45deg) translate(10px, 10px);}
			100%{transform: scale(1) rotate(45deg) translate(10px, 10px);}
		}

    /**
    * Popup
    */

    .ol-popup {
        position: absolute;
        background-color: white;
        -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
        filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
        padding: 15px;
        border-radius: 10px;
        border: 1px solid #cccccc;
        bottom: 12px;
        left: -50px;
        min-width: 380px;
      }
			.ol-popup #popup-content {
				font-size: 68%;
				margin: -18px;
			}

			.ol-popup .location-title {
				font-size: 1.2rem;
			}

			.ol-popup .location-geolocation, .ol-popup .location-contact-link, .ol-popup .location-description {
				display: none;
			}

      .ol-popup:after, .ol-popup:before {
        top: 100%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
      }
      .ol-popup:after {
        border-top-color: white;
        border-width: 10px;
        left: 48px;
        margin-left: -10px;
      }
      .ol-popup:before {
        border-top-color: #cccccc;
        border-width: 11px;
        left: 48px;
        margin-left: -11px;
      }
      .ol-popup-closer {
        text-decoration: none;
        position: absolute;
        top: 2px;
        right: 8px;
      }
      .ol-popup-closer:after {
        content: "✖";
      }

      @media screen and (min-width: 1090px ), (orientation: landscape) {
      	.overflow-scroll {
      		overflow: hidden;
      		overflow-y: scroll;
      	}

      	.location-map {
      		padding-left: 0 !important;
      	}

      	.location-list {
      		padding-right: 0 !important;
      	}
      }

      @media screen and (max-width: 678px) {

				body > .container-fluid {
					padding-left: 0;
					padding-right: 0;
				}

				body > .container-fluid > .row {
					margin-left: 0;
					margin-right: 0;
				}

        .location-widget {
      		width:100%;
					min-width: inherit;
      	}

         .location-map {padding-left: 0 !important; padding-right: 0 !important; min-width: inherit; max-height: 25vh;}

       .location-list { padding-left:0 !important; padding-right: 0 !important; }
      }
